<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--add name="Allconnections" connectionString="Data Source=192.168.0.227\CL0201SQL02;Initial Catalog=plConnectVan;User=van;Pwd=VL!7352@" providerName="System.Data.SqlClient"/-->
    <add name="Allconnections"
         connectionString="Password=FeRuOs8B1730;User ID=Sqloperacoes;Data Source=192.168.0.72;Initial Catalog=catalogo"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
<appSettings>
  <add key="PastaBackup" value="C:\teste\teste"/>
</appSettings>
</configuration>